*.swo
*.swp
*.o
*.pyc


Host/host
Host/protoc_middleman
Host/movemessage_pb2.py

CheckerAI/ai
CheckerAI/protoc_middleman
CheckerAI/movemessage.pb.h
CheckerAI/movemessage.pb.cpp
CheckerAI/cmake-build-*

ArmController/controller
ArmController/protoc_middleman

BoardRecognizer/recognizer
BoardRecognizer/protoc_middleman

Bus/bus

.idea/
.ccls-cache/*
export/
